{% extends 'core/base.html' %}
{% load static %}

{% block styles %}

{% endblock %}

{% block content %}

    {% csrf_token %}

    <div class="container">

        {# MENU #}
        <nav class="navbar navbar-light bg-white" style="margin-top:10px;  border-left: 3px solid #0d6efd">
            <div class="container">
                <h5 class="float-left" style="color:#0d6efd">CATEGORÍAS </h5>
                <div class="float-left">
                    <button id="btnAddCategoria" type="button" class="btn btn-primary">
                        <i class="fas fa-plus-square"> </i> Agregar Categoría
                    </button>
                </div>
            </div>
        </nav>

        {# REGISTROS #}
        <div class="card my-3">
            <div class="card-header d-flex justify-content-between" style="background-color: #17627e30 !important">
                <div class="titulos" style="color:black !important; font-size: 22px">
                    Registro
                </div>

            </div>
            <div class="card-body">
                <table class="table table-striped table-hover" id="tblUsuarios">
                    <thead>
                    <tr>
                        <th style="font-size: 15px">CÓDIGO</th>
                        <th style="font-size: 15px">DESCRIPCIÓN</th>
                        <th style="font-size: 15px">ESTADO</th>
                        <th style="font-size: 15px">ACCIONES</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for c in categorias %}
                        <tr>
                            <td style="font-size:15px">{{ c.id }}</td>
                            <td style="font-size:15px">{{ c.descripcion }}</td>
                            <td>
                                {% if c.estado == 1 %}
                                    <span class="badge rounded-pill bg-success">Activo</span>
                                {% else %}
                                    <span class="badge rounded-pill bg-danger">Inactivo</span>
                                {% endif %}
                            </td>

                            <td>
                                <button data-toggle="tooltip" title="Editar usuario" type="button"
                                        class="btn btn-success btnEdit" data-id="{{ c.id }}" data-descripcion="{{ c.descripcion }}"><i class="fas fa-pen"></i></button>
                                <button data-toggle="tooltip" title="Eliminar usuario" type="button"
                                        class="btn btn-danger btnDelete" data-id="{{ c.id }}"><i class="fas fa-trash"></i></button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="modal fade" id="mdlCategoria" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #d3e1e7">
                    <h5 class="modal-title" id="exampleModalLabel">AÑADIR CATEGORÍA</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col col-sm-6">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-fingerprint"></i></span>
                                    <input disabled id="txtCodigo" type="text" class="form-control" placeholder="Código"
                                           aria-label="Codigo"
                                           aria-describedby="basic-addon1">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-sm-9">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1"><i
                                            class="fas fa-edit"></i></span>
                                    <input maxlength="50" id="txtDescripcion" type="text" class="form-control"
                                           placeholder="Descripción de Categoría"
                                           aria-label="correo"
                                           aria-describedby="basic-addon1">
                                    <div class="invalid-feedback">Descripción no válida</div>

                                </div>
                            </div>
                            <div class="col col-sm-3">
                                <div class="input-group mb-3">
                                    <div class="input-group-text">
                                        <input id="checkActivo" class="form-check-input mt-0" type="checkbox" value=""
                                               checked
                                               aria-label="Checkbox for following text input">
                                    </div>
                                    <input type="text" class="form-control" aria-label="Text input with checkbox"
                                           disabled="disabled" value="Activo">
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="fas fa-times"></i>
                        Cancelar
                    </button>
                    <button id="btnSave" type="button" class="btn btn-success"><i class="fas fa-save"></i> Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>



{% endblock %}

{% block modals %}

{% endblock %}

{% block scripts %}
    <script>

    var gId = null;

        {# INICIO DEL CÓDIGO EN JAVASCRIPT #}
        $(document).ready(function () {

            $("#btnAddCategoria").click(function () {
                gId = null;
                $("#mdlCategoria").modal("show");
            });

            $('[data-toggle="tooltip"]').tooltip();

            $('#tblUsuarios').DataTable({
                "oLanguage": {
                    "sSearch": "Buscar",
                    "sProcessing": "Procesando",
                    "sLoadingRecords": "Cargando",
                    "sInfo": "Mostrando _START_ a _END_ de _TOTAL_ registros",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "oPaginate": {
                        "sFirst": "Primera",
                        "sLast": "Última",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    }
                },
            });

            $("#btnSave").click(function () {
                if(gId == null)
                    save();
                else
                    update()
            });

            $(".btnEdit").click(function () {
                let id = $(this).data('id');
                gId = id;
                let descripcion = $(this).data('descripcion');
                $("#txtCodigo").val(id);
                $("#txtDescripcion").val(descripcion);
                $("#mdlCategoria").modal("show");
            });

        });

        // GUARDAR USUARIO
        function save() {

            let codigo = $("#txtCodigo").val().trim();
            let descripcion = $("#txtDescripcion").val().trim();
            let estadoActivo = false;
            let estadoSave = true

            if ($("#checkActivo").is(":checked"))
                estadoActivo = true;

            if (descripcion == "")
                $("#txtDescripcion").addClass("is-invalid");

            if (descripcion == "")
                estadoSave = false

            if (estadoSave) {
                let datos = {};
                datos['csrfmiddlewaretoken'] = $("input[name='csrfmiddlewaretoken']").val();
                datos['descripcion'] = descripcion;
                datos['estadoActivo'] = estadoActivo;

                alertify.confirm('CONFIRMACIÓN', '¿Desea guardar categoría?', function () {
                        $.ajax({
                            type: 'POST',
                            url: "{% url 'public:categoria'%} ",
                            data: datos,
                            dataType: 'json',
                            success: function (respuesta) {
                                if (respuesta.error) {
                                    if (respuesta.option == "1") {
                                        Toast.fire({
                                            icon: 'error',
                                            title: respuesta.mensaje,
                                            timer: 5000
                                        });

                                        $("#txtDescripcion").addClass("is-invalid");

                                    } else {
                                        Toast.fire({
                                            icon: 'error',
                                            title: respuesta.mensaje,
                                            timer: 5000
                                        });
                                        showLoad(false);
                                    }

                                } else {
                                    Toast.fire({
                                        icon: 'success',
                                        title: respuesta.mensaje,
                                        timer: 10000
                                    });
                                    showLoad(false);
                                    window.reload();
                                }
                            },
                            error: function (error) {
                                Toast.fire({
                                    icon: 'error',
                                    title: 'Error de administración',
                                    timer: 10000
                                });
                            },
                        });
                    }
                    , function () {
                    }).set('labels', {ok: 'Aceptar', cancel: 'Cancelar'},);
            }


        }

        // GUARDAR USUARIO
        function update() {

            let codigo = $("#txtCodigo").val().trim();
            let descripcion = $("#txtDescripcion").val().trim();
            let estadoActivo = false;
            let estadoSave = true

            if ($("#checkActivo").is(":checked"))
                estadoActivo = true;

            if (descripcion == "")
                $("#txtDescripcion").addClass("is-invalid");

            if (descripcion == "")
                estadoSave = false

            if (estadoSave) {
                let datos = {};
                datos['csrfmiddlewaretoken'] = $("input[name='csrfmiddlewaretoken']").val();
                datos['id'] = gId;
                datos['descripcion'] = descripcion;
                datos['estadoActivo'] = estadoActivo;

                alertify.confirm('CONFIRMACIÓN', '¿Desea actualizar categoría?', function () {
                        $.ajax({
                            type: 'POST',
                            url: "{% url 'public:updateCategoria'%} ",
                            data: datos,
                            dataType: 'json',
                            success: function (respuesta) {
                                if (respuesta.error) {
                                    if (respuesta.option == "1") {
                                        Toast.fire({
                                            icon: 'error',
                                            title: respuesta.mensaje,
                                            timer: 5000
                                        });

                                        $("#txtDescripcion").addClass("is-invalid");

                                    } else {
                                        Toast.fire({
                                            icon: 'error',
                                            title: respuesta.mensaje,
                                            timer: 5000
                                        });
                                        showLoad(false);
                                    }

                                } else {
                                    Toast.fire({
                                        icon: 'success',
                                        title: respuesta.mensaje,
                                        timer: 10000
                                    });
                                    showLoad(false);
                                    window.reload();
                                }
                            },
                            error: function (error) {
                                Toast.fire({
                                    icon: 'error',
                                    title: 'Error de administración',
                                    timer: 10000
                                });
                            },
                        });
                    }
                    , function () {
                    }).set('labels', {ok: 'Aceptar', cancel: 'Cancelar'},);
            }


        }

    </script>
{% endblock %}