{% load static %}
<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Sistema Castro</title>
    <link rel="stylesheet" href="{% static 'core/css/alertify.min.css' %}"/>
    <link rel="icon" href="{% static 'core/images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'core/vendor/sb-admin/css/sb-admin.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/vendor/sweetalert2/css/sweetalert2.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/vendor/datatables/css/dataTables.bootstrap5.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/vendor/datatables/css/responsive.bootstrap5.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/vendor/datatables/css/scroller.bootstrap5.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/loader.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/dataTables.bootstrap5.min.css' %}">
    {% block styles %}

    {% endblock %}
    {% block extra_styles %}
        <style>
            .nav-link {
                color: white !important;
            }

            .active {
                border-left: 3px solid
            }


        </style>
    {% endblock %}
</head>
<body class="sb-nav-fixed">

<!--INICIO CONTENEDOR CARGANDO-->
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<!--FIN CONTENEDOR CARGANDO-->

<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark menuTexto" style="background-color: #17627e !important;">
    <a class="navbar-brand ps-3" href="{% url 'core:home' %}">SISTEMA CASTRO</a>
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle"
            style="color: #ffffff !important;">
        <i class="fas fa-bars"></i>
    </button>

    <ul class="navbar-nav ms-auto me-0 me-md-3">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false"><i class="fas fa-user fa-fw"></i>{{ user }}</a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li>
                    <a class="dropdown-item" href="{% url 'usuarios:logout' %}?next={{ request.path }}">Salir</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark menuTexto" id="sidenavAccordion"
             style="background-color: #17627e !important">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <a class="nav-link" href="{% url 'core:home' %}">
                        <div class="sb-nav-link-icon icon_menu"><i class="fas fa-home"></i></div>
                        Inicio
                    </a>
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#usuarios"
                       aria-expanded="false" aria-controls="usuarios">
                        <div class="sb-nav-link-icon icon_menu"><i class="fas fa-user"></i></div>
                        Usuarios
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="usuarios" aria-labelledby="headingOne"
                         data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="{% url 'usuarios:list' %}">Usuarios</a>
                            <a class="nav-link" href="#">Roles</a>
                            <a class="nav-link" href="#">Permisos</a>
                        </nav>
                    </div>

                    {# BODEGA #}
                    <a class="nav-link" href="{% url 'core:home' %}">
                        <div class="sb-nav-link-icon icon_menu"><i class="fas fa-warehouse"></i></div>
                        Bodega
                    </a>

                    {# PRODUCTOS #}
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#productos"
                       aria-expanded="false" aria-controls="productos">
                        <div class="sb-nav-link-icon icon_menu"><i class="fas fa-store"></i></div>
                        Productos
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="productos" aria-labelledby="headingOne"
                         data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="{% url 'public:categoria' %}">Categorías</a>
                            <a class="nav-link" href="{% url 'public:piezas' %}">Piezas</a>
                            <a class="nav-link" href="{% url 'public:productopiezas' %}">Mano Factura</a>
                        </nav>
                    </div>

                    {# CONFIGURACIÓN #}
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#configuracion"
                       aria-expanded="false" aria-controls="configuracion">
                        <div class="sb-nav-link-icon icon_menu"><i class="fas fa-cog"></i></div>
                        Configuración
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="configuracion" aria-labelledby="headingOne"
                         data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="{% url 'public:categoria' %}">Empresa</a>
                        </nav>
                    </div>

                </div>
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content" style="background-color: whitesmoke">
        <main>
            <div class="container-fluid">
                <section id="message_loader">
                </section>
                {% block content %}
                {% endblock %}
            </div>
        </main>
        <footer class="py-3 bg-dark mt-auto shadow" style="background-color: #ffff !important; height: 40px">
            <div class="container-fluid" style="margin-top: -5px">
                <div class="text-center text-light menuTexto">
                    <span style="color: #17627E">Derechos Reservados © SISTEMA CASTRO {% now 'Y' %}</span>
                </div>
            </div>
        </footer>
    </div>
</div>
{% block modals %}
{% endblock %}
<script src="{% static 'core/js/dataTables.bootstrap5.min.js' %}"></script>
<script src="{% static 'core/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'core/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'core/vendor/jquery/js/jquery.min.js' %}"></script>
<script src="{% static 'core/js/alertify.min.js' %}"></script>
<script src="{% static 'core/vendor/jquery/js/jquery-ui.min.js' %}"></script>
<script src="{% static 'core/vendor/jquery/js/jquery.waiting.js' %}"></script>
<script src="{% static 'core/vendor/sweetalert2/js/sweetalert2.min.js' %}"></script>
<script src="{% static 'core/vendor/font-awesome/js/all.min.js' %}"></script>
<script src="{% static 'core/vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'core/vendor/datatables/js/dataTables.bootstrap5.min.js' %}"></script>
<script src="{% static 'core/vendor/datatables/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'core/vendor/datatables/js/responsive.bootstrap5.min.js' %}"></script>
<script src="{% static 'core/vendor/datatables/js/dataTables.scroller.min.js' %}"></script>
<script src="{% static 'core/vendor/datatables/js/scroller.bootstrap5.min.js' %}"></script>
<script src="{% static 'core/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'core/vendor/bootstrap-datepicker/js/bootstrap-datepicker.es.min.js' %}"></script>
<script src="{% static 'core/vendor/jquery-timepicker/js/jquery.timepicker.min.js' %}"></script>
<script src="{% static 'core/vendor/sb-admin/js/sb-admin.min.js' %}"></script>
<script src="{% static 'core/js/core.min.js' %}"></script>
<script src="{% static 'core/js/loader.js' %}"></script>
<script>
    $(document).ready(function () {

        $(".nav-link").click(function () {
        });

    });
</script>

{% block scripts %}
{% endblock %}
</body>
</html>
