{% extends 'core/base.html' %}

{% load static %}

{% block styles %}

    <style>
    main{
        background-color: #104a78;
    }

    #img_home {
        max-height: calc(100vh - 112px);
        overflow-y: scroll;
    }

    </style>

{% endblock %}

{% block content %}
{#    <img id="img_home" class="" src="{% static 'core/images/banner-facturacion.jpg' %}" alt="Facturación INSS"#}
{#                     style="width: 100%; height: 80%; object-fit: cover">#}
{% endblock %}

<style>


</style>